<h1>
  Liste der Spiele
</h1>
<table class="table">
  <thead>
  <th>
    ID
  </th>
  <th>
    Bezeichnung
  </th>
  <th>
    Genre
  </th>
  <th>
    FSK
  </th>
  <th>

  </th>
  </thead>
  <tbody>
    <tr *ngFor="let g of spiele" (click)="alert(g)">
      <td>
        {{g.id}}
      </td>
      <td>
        {{g.bezeichnung}}
      </td>
      <td>
        {{g.genre}}
      </td>
      <td>
        {{g.fsk}}
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(g)">
          Löschen
        </button>
      </td>
    </tr>
  </tbody>
</table>
